In [1]:
import pandas as pd
import os

In [2]:
# get working directory
cwd = os.getcwd()
cwd

'/Users/florencelopez/Desktop/STUDIUM /Master/FaÌˆcher/Big Data & Social Networks/Projekt'

In [3]:
# read data 
df_jan = pd.read_csv(cwd + '/Daten_green/green_tripdata_2018-01.csv', delimiter=',')
df_jan.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type
0,2,2018-01-01 00:18:50,2018-01-01 00:24:39,N,1,236,236,5,0.70,6.0,0.5,0.5,0.0,0.0,NaN,0.3,7.3,2,1.0
1,2,2018-01-01 00:30:26,2018-01-01 00:46:42,N,1,43,42,5,3.50,14.5,0.5,0.5,0.0,0.0,NaN,0.3,15.8,2,1.0
2,2,2018-01-01 00:07:25,2018-01-01 00:19:45,N,1,74,152,1,2.14,10.0,0.5,0.5,0.0,0.0,NaN,0.3,11.3,2,1.0
3,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,-3.0,-0.5,-0.5,0.0,0.0,NaN,-0.3,-4.3,3,1.0
4,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,3.0,0.5,0.5,0.0,0.0,NaN,0.3,4.3,2,1.0

In [4]:
df_feb = pd.read_csv(cwd + '/Daten_green/green_tripdata_2018-02.csv', delimiter=',')

In [5]:
df_mar = pd.read_csv(cwd + '/Daten_green/green_tripdata_2018-03.csv', delimiter=',')

In [6]:
df_apr = pd.read_csv(cwd + '/Daten_green/green_tripdata_2018-04.csv', delimiter=',')

In [7]:
df_mai = pd.read_csv(cwd + '/Daten_green/green_tripdata_2018-05.csv', delimiter=',')

In [8]:
df_jun = pd.read_csv(cwd + '/Daten_green/green_tripdata_2018-06.csv', delimiter=',')

In [9]:
# split the data, to get a representative dataset, which is not too big 
df_jan_split = df_jan.sample(100)
df_jan_split.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type
624746,2,2018-01-25 19:11:47,2018-01-25 19:22:32,N,1,255,256,1,0.97,8.5,1.0,0.5,0.0,0.0,NaN,0.3,10.3,2,1.0
789390,2,2018-01-31 20:21:58,2018-01-31 20:29:48,N,1,7,223,1,1.51,7.5,0.5,0.5,0.0,0.0,NaN,0.3,8.8,2,1.0
712603,2,2018-01-28 19:07:21,2018-01-28 19:11:23,N,1,17,17,1,0.73,5.0,0.0,0.5,0.0,0.0,NaN,0.3,5.8,2,1.0
173116,2,2018-01-08 17:16:18,2018-01-08 17:21:04,N,1,75,75,1,0.68,5.0,1.0,0.5,0.0,0.0,NaN,0.3,6.8,2,1.0
447666,2,2018-01-19 06:40:57,2018-01-19 07:29:16,N,1,213,140,1,8.73,35.0,0.0,0.5,0.0,0.0,NaN,0.3,35.8,1,1.0

In [10]:
df_feb_split = df_feb.sample(100)

In [11]:
df_mar_split = df_mar.sample(100)

In [12]:
df_apr_split = df_apr.sample(100)

In [13]:
df_mai_split = df_mai.sample(100)

In [14]:
df_jun_split = df_jun.sample(100)

In [15]:
new_df = pd.concat([df_jan_split, df_feb_split, df_mar_split, df_apr_split, df_mai_split, df_jun_split], ignore_index=True)

In [16]:
new_df.shape

(600, 19)

In [17]:
# save new dataframe 
new_df.to_csv('test_dataframe_green.csv', sep=',', index=False)