In [3]:
import pandas as pd
import os

In [4]:
# get working directory
cwd = os.getcwd()
cwd

'/Users/florencelopez/Desktop/STUDIUM /Master/FaÌˆcher/Big Data & Social Networks/Projekt'

In [5]:
# read data 
df_jan = pd.read_csv(cwd + '/Daten/jan18.csv', delimiter=',')
df_jan.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2018-01-01 00:21:05,2018-01-01 00:24:23,1,0.5,1,N,41,24,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80
1,1,2018-01-01 00:44:55,2018-01-01 01:03:05,1,2.7,1,N,239,140,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30
2,1,2018-01-01 00:08:26,2018-01-01 00:14:21,2,0.8,1,N,262,141,1,6.0,0.5,0.5,1.00,0.0,0.3,8.30
3,1,2018-01-01 00:20:22,2018-01-01 00:52:51,1,10.2,1,N,140,257,2,33.5,0.5,0.5,0.00,0.0,0.3,34.80
4,1,2018-01-01 00:09:18,2018-01-01 00:27:06,2,2.5,1,N,246,239,1,12.5,0.5,0.5,2.75,0.0,0.3,16.55

In [8]:
df_feb = pd.read_csv(cwd + '/Daten/feb18.csv', delimiter=',')

In [10]:
df_mar = pd.read_csv(cwd + '/Daten/mar18.csv', delimiter=',')

In [12]:
df_apr = pd.read_csv(cwd + '/Daten/apr18.csv', delimiter=',')

In [14]:
df_mai = pd.read_csv(cwd + '/Daten/mai18.csv', delimiter=',')

In [16]:
df_jun = pd.read_csv(cwd + '/Daten/jun18.csv', delimiter=',')

In [7]:
# split the data, to get a representative dataset, which is not too big 
df_jan_split = df_jan.sample(100)
df_jan_split.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
6660939,1,2018-01-25 06:32:55,2018-01-25 06:50:08,1,8.40,1,N,262,138,1,24.5,0.0,0.5,6.20,5.76,0.3,37.26
3763613,2,2018-01-15 09:31:23,2018-01-15 09:38:11,5,1.09,1,N,236,237,1,7.0,0.0,0.5,0.75,0.00,0.3,8.55
1868156,2,2018-01-08 20:49:32,2018-01-08 21:20:30,2,4.51,1,N,237,238,1,22.5,0.5,0.5,3.50,0.00,0.3,27.30
7062332,1,2018-01-26 10:18:25,2018-01-26 10:27:12,1,0.40,1,N,264,264,2,7.0,0.0,0.5,0.00,0.00,0.3,7.80
3476597,1,2018-01-14 03:50:36,2018-01-14 03:58:13,1,2.70,1,N,246,143,1,10.0,0.5,0.5,2.25,0.00,0.3,13.55

In [9]:
df_feb_split = df_feb.sample(100)

In [11]:
df_mar_split = df_mar.sample(100)

In [13]:
df_apr_split = df_apr.sample(100)

In [15]:
df_mai_split = df_mai.sample(100)

In [17]:
df_jun_split = df_jun.sample(100)

In [18]:
new_df = pd.concat([df_jan_split, df_feb_split, df_mar_split, df_apr_split, df_mai_split, df_jun_split], ignore_index=True)

In [22]:
new_df.shape

(600, 17)

In [23]:
# save new dataframe 
new_df.to_csv('test_dataframe.csv', sep=',', index=False)